# Dependencias
node_modules/

# Variables de entorno y secretos
.env
.env.*
!.env.example

# AWS SAM
.aws-sam/

# Serverless Framework
.serverless/

# Build / compilación
dist/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl